<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.example.model.User">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date_time" jdbcType="TIMESTAMP" property="createDateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_date_time" jdbcType="TIMESTAMP" property="updateDateTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="enabled_state" jdbcType="TINYINT" property="enabledState" />
    <result column="deleted_state" jdbcType="TINYINT" property="deletedState" />
    <result column="erwin_id" jdbcType="VARCHAR" property="erwinId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="locked_state" jdbcType="TINYINT" property="lockedState" />
  </resultMap>
  <insert id="insert" parameterType="org.example.model.User">
    insert into t_user (id, create_date_time, create_user_id, 
      create_user_name, update_date_time, update_user_id, 
      update_user_name, enabled_state, deleted_state, 
      erwin_id, password, phone, 
      nickname, sex, avatar, 
      locked_state)
    values (#{id,jdbcType=BIGINT}, #{createDateTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{updateDateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, 
      #{updateUserName,jdbcType=VARCHAR}, #{enabledState,jdbcType=TINYINT}, #{deletedState,jdbcType=TINYINT}, 
      #{erwinId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{avatar,jdbcType=VARCHAR}, 
      #{lockedState,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="org.example.model.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDateTime != null">
        create_date_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="updateDateTime != null">
        update_date_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="enabledState != null">
        enabled_state,
      </if>
      <if test="deletedState != null">
        deleted_state,
      </if>
      <if test="erwinId != null">
        erwin_id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="lockedState != null">
        locked_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDateTime != null">
        #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateDateTime != null">
        #{updateDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="enabledState != null">
        #{enabledState,jdbcType=TINYINT},
      </if>
      <if test="deletedState != null">
        #{deletedState,jdbcType=TINYINT},
      </if>
      <if test="erwinId != null">
        #{erwinId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="lockedState != null">
        #{lockedState,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

    <select id="selectById" resultType="java.lang.Long">
        SELECT id FROM t_user WHERE id = #{cardNo}
    </select>
</mapper>